{% extends "base.html" %}

{% block content %}
	<br>
	<h2>Events </h2>
<div class="jumbotron">
	{% for e in Events %}
    	<h3>{{ e.name}}</h3>
    	<p> <h6 style="display:inline;">Description : </h6>{{ e.description }}<hr>
    		<h6 style="display:inline;">Date : </h6>{{ e.date_time }}<br>
    		<h6 style="display:inline;">Speaker : </h6><b>{{ e.speaker }}</b>
            <h6 style="display:inline;">Venue : </h6><b>{{ e.venue }}</b>
    		<hr>
            <input onClick="location.href='{{ e.registration_link }}'" type="submit" class="btn btn-primary" value="Register Here" />
    	</p>
        {% empty %}
        <h3>No Events Scheduled</h3>
	{% endfor %}
</div>
{% endblock content %}